* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;;
  background-color: #111;
  border: 2px solid white;
  overflow: hidden;
}

#player {
  position: absolute;
  bottom: 10px;
  left: 40%; 
  width: 160px; 
  height: auto; 
  transform: translateX(-38%); 
  z-index: 1;

}

.bullet {
  position: absolute;
  width: 5px;
  height: 20px;
  background-color: yellow;
}

.enemy {
  position: absolute;
  width: 60px;
  height: 60px;
  
}

#toggle-sound {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  cursor: pointer;
  z-index: 1; 
}

@media (max-width: 768px) {

  #player { 
    bottom: 30px;
  }
}
